/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: white;
  overflow-x: hidden;
}

/* BUTTON */
button {
  cursor: pointer;
}

/* INPUT */
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  h1 {
    font-size: 28px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  p {
    font-size: 14px !important;
  }
}
